.keranjang {
    margin-top: 80px;
    height: 1100px;
}

.keranjang-line {
    background: black;
    height: 2px;
    width: 13%;
}

.keranjang .card {
    border: none;
    border-radius: 6px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 0 ;
}