#jumbotron {
  width: 100%;
  position: relative;
  min-height: 500px;
  margin: 0 auto;
}
.jumbotron-content {
  max-width: 800px;
  left: 0;
  top: 40px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  text-align: center;
}
.jumbotron-content > h1 {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
}
.jumbotron-content > p {
  color: #fff;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
}
#jumbotron img {
  width: 100%;
  position: absolute;
  height: 100%;
}
