.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #34b3f1;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/* Gambar */
.img-keranjang {
  width: 120px;
}

/*button*/
:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color: var(--black);
  cursor: pointer;
  background: #fff;
  padding: 0.8rem 1rem;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

/*box-cotaniner*/

.service .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.service .box-container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.service .box-container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.service .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

/*container*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2212';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
